---
import CardTag from './CardTag.astro';
interface Props {
  title: string;
  date: string;
  tags: string[];
  description: string;
  link: string;
}

const { title, date, tags, description, link } = Astro.props;
---

<div class="flex p-[24px] flex-col bg-bwhite w-[363px] justify-center border-bbg border rounded-[2px] font-jetbrains">
  <div class="flex gap-[8px]">{tags.map((t, i) => <CardTag variant={i+1}>{t}</CardTag>)}</div>
  <h2 class="text-[24px] font-bold mt-2">{title}</h2>
  <h3 class="text-[14px] uppercase font-light text-bblack mb-[24px]">{date}</h3>
  <p class="text-[16px] font-normal mb-[24px]">{description}</p>
  <a href={link} class="w-[120px] border-bwhite border-b-2 hover:border-bblue transition">Read more -></a>
</div>