---
import CardTag from './CardTag.astro';
interface Props {
  title: string;
  date: string;
  tags: string[];
  description: string;
  link: string;
}

const { title, date, tags, description, link } = Astro.props;
---

<div class="flex p-[16px] flex-col bg-bwhite w-[315px] justify-center border-bbg border rounded font-jetbrains">
  <div class="flex gap-[8px]">{tags.map((t, i) => <CardTag variant={i+1}>{t}</CardTag>)}</div>
  <h2>{title}</h2>
  <h3>{date}</h3>
  <p>{description}</p>
  <a href={link}>Read more</a>
</div>